<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alphabet</key>
	<dict>
		<key>arrangement</key>
		<array>
			<integer>10</integer>
			<integer>10</integer>
			<integer>10</integer>
			<integer>10</integer>
			<integer>3</integer>
		</array>
		<key>hasDeleteKey</key>
		<true/>
		<key>deleteKeyWidth</key>
		<real>32.</real>
		<key>deleteKeyRow</key>
		<integer>4</integer>
		<key>deleteKeyRight</key>
		<real>79.</real>
		<key>registersKeyCentroids</key>
		<true/>
		<key>rowIndentation</key>
		<array>
			<real>0.</real>
			<real>0.</real>
			<real>0.</real>
			<real>0.</real>
			<real>110.</real>
		</array>
		<key>rows</key>
		<integer>5</integer>
		<key>shiftKeyWidth</key>
		<real>32.</real>
		<key>shiftKeyLeft</key>
		<real>79.</real>
		<key>shiftKeyRow</key>
		<integer>4</integer>
		<key>hasSpaceKey</key>
		<false/>
		<key>shiftedTexts</key>
		<array>
			<array>
				<string>.</string>
				<string>(</string>
				<string>)</string>
				<string></string>
				<ustring>＄</ustring>
				<ustring>％</ustring>
				<ustring>＆</ustring>
				<ustring>＊</ustring>
				<ustring>￥</ustring>
				<ustring>€</ustring>
			</array>
			<array>
				<string>,</string>
				<string>&lt;</string>
				<string>&gt;</string>
				<string></string>
				<ustring>～</ustring>
				<ustring>＋</ustring>
				<ustring>─</ustring>
				<ustring>×</ustring>
				<ustring>÷</ustring>
				<ustring>＝</ustring>
			</array>
			<array>
				<string>!</string>
				<string>[</string>
				<string>]</string>
				<string></string>
				<ustring>（</ustring>
				<ustring>）</ustring>
				<ustring>＜</ustring>
				<ustring>＞</ustring>
				<ustring>、</ustring>
				<ustring>｜</ustring>
			</array>
			<array>
				<string>?</string>
				<string>@</string>
				<string>#</string>
				<string></string>
				<ustring>《</ustring>
				<ustring>》</ustring>
				<ustring>「</ustring>
				<ustring>」</ustring>
				<ustring>：</ustring>
				<ustring>；</ustring>
			</array>
			<array>
				<ustring>，</ustring>
				<ustring>！</ustring>
				<ustring>？</ustring>
			</array>
		</array>
		<key>texts</key>
		<array>
			<array>
				<ustring>ㄅ</ustring>
				<ustring>ㄉ</ustring>
				<ustring>ˇ</ustring>
				<ustring>ˋ</ustring>
				<ustring>ㄓ</ustring>
				<ustring>ˊ</ustring>
				<ustring>˙</ustring>
				<ustring>ㄚ</ustring>
				<ustring>ㄞ</ustring>
				<ustring>ㄢ</ustring>
			</array>
			<array>
				<ustring>ㄆ</ustring>
				<ustring>ㄊ</ustring>
				<ustring>ㄍ</ustring>
				<ustring>ㄐ</ustring>
				<ustring>ㄔ</ustring>
				<ustring>ㄗ</ustring>
				<ustring>ㄧ</ustring>
				<ustring>ㄛ</ustring>
				<ustring>ㄟ</ustring>
				<ustring>ㄣ</ustring>
			</array>
			<array>
				<ustring>ㄇ</ustring>
				<ustring>ㄋ</ustring>
				<ustring>ㄎ</ustring>
				<ustring>ㄑ</ustring>
				<ustring>ㄕ</ustring>
				<ustring>ㄘ</ustring>
				<ustring>ㄨ</ustring>
				<ustring>ㄜ</ustring>
				<ustring>ㄠ</ustring>
				<ustring>ㄤ</ustring>
			</array>
			<array>
				<ustring>ㄈ</ustring>
				<ustring>ㄌ</ustring>
				<ustring>ㄏ</ustring>
				<ustring>ㄒ</ustring>
				<ustring>ㄖ</ustring>
				<ustring>ㄙ</ustring>
				<ustring>ㄩ</ustring>
				<ustring>ㄝ</ustring>
				<ustring>ㄡ</ustring>
				<ustring>ㄥ</ustring>
			</array>
			<array>
				<string> </string>
				<ustring>ˉ</ustring>
				<ustring>ㄦ</ustring>
			</array>
		</array>
		<key>usesKeyCharges</key>
		<false/>
	</dict>
	<key>Numbers</key>
	<dict>
		<key>arrangement</key>
		<string>Alt</string>
		<key>rowIndentation</key>
		<string>Alt</string>
		<key>texts</key>
		<array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>0</string>
			</array>
			<array>
				<string>-</string>
				<string>/</string>
				<string>:</string>
				<string>;</string>
				<string>(</string>
				<string>)</string>
				<string>$</string>
				<string>&amp;</string>
				<string>@</string>
				<string>"</string>
			</array>
			<array>
				<ustring>。</ustring>
				<ustring>，</ustring>
				<ustring>、</ustring>
				<ustring>？</ustring>
				<ustring>！</ustring>
			</array>
		</array>
		<key>shiftedTexts</key>
		<array>
			<array>
				<string>[</string>
				<string>]</string>
				<string>{</string>
				<string>}</string>
				<string>#</string>
				<string>%</string>
				<string>-</string>
				<string>*</string>
				<string>+</string>
				<string>=</string>
			</array>
			<array>
				<string>_</string>
				<string>\</string>
				<string>|</string>
				<string>~</string>
				<string>&lt;</string>
				<string>&gt;</string>
				<ustring>¥</ustring>
				<ustring>€</ustring>
				<ustring>£</ustring>
				<ustring>•</ustring>
			</array>
			<array>
				<string>.</string>
				<string>,</string>
				<string>^_^</string>
				<string>?</string>
				<string>!</string>
			</array>
		</array>
		<key>usesKeyCharges</key>
		<false/>
	</dict>
	<key>altPlane</key>
	<string>ControlKeys</string>
	<key>layout</key>
	<string>QWERTY</string>
	<key>topRow</key>
	<string>Numbers</string>
</dict>
</plist>
